body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.image {
  display: block;
}

/* ---------------------HEADER------------------------------------------ */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 840px;
  width: 100%;
  background: url("./img/header-bg.png") no-repeat center center/cover;
}

.header__logo {
  display: flex;
  dlex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__logo__picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo__headging {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
}

.header__logo__headging_top {
  font-size: 60px;
  letter-spacing: 0;
  line-height: 118.5%;
}

.header__logo__headging_bottom {
  font-size: 27px;
  letter-spacing: 7px;
  line-height: 118.5%;
}

.header__top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 59px;
  width: 374px;
  height: 64px;
  margin-top: 50px;
}

.header__top-button > span {
  font-size: 18px;
  color: white;
}

.header__heading-text {
  font-size: 144px;
  line-height: 134.5px;
  color: white;
  max-width: 983px;
  text-align: center;
  font-weight: 900;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  margin-top: 17px;
}

.header__bottom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 35px;
  width: 180px;
  height: 70px;
  margin-top: 100px;
  box-shadow: 0px 10px 50px rgba(16, 51, 30, 0.5);
}

.header__bottom-button > span {
  font-size: 18px;
  color: #48924f;
  font-weight: 700;
}

/* --------SERVICES------------------------------------------------ */

.services {
  margin-top: 70px;
}

.container-services {
  justify-content: center;
  align-items: center;
}

.services-title {
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  color: #828282;
}

.service-svg {
  position: relative;
  display: flex;
  margin: 0 auto;
  left: -90px;
  top: -50px;
}

.services-list {
  gap: 22px;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 385px;
  height: 504px;
  display: flex;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
}
.services-item {
  box-sizing: border-box;
  border-radius: 30px;
  width: 385px;
  height: 504px;
  box-shadow: 0 10px 30px 0 rgba(16, 51, 30, 0.1);
  background: #fff;
}
.services-image {
}
.services-subtitle {
  font-weight: 900;
  font-size: 16px;
  line-height: 1.5;
  color: #0d4d14;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.services-text-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #0d4d14;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.services-btn {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #6cb981;
  display: block;
  border-radius: 35px;
  width: 180px;
  height: 70px;
  box-shadow: 0 16px 30px 0 rgba(50, 175, 100, 0.15);
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 70px;
  border: #fff;
}

/* ---------ABOUT-US---------------------- */

.about-us {
}

.about-us-container {
  background-image: url(./img/Rectangle-au.jpg);
  text-align: center;
}

.about-us-title {
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  color: #828282;
  margin-bottom: 50px;
}

.service-svg-two {
  position: relative;
  display: flex;
  margin: 0 auto;
  right: -150px;
  top: -100px;
  transform: skewY(-5deg);
}

.about-us-list {
  display: flex;
  gap: 60px;
  padding-top: 50px;
  list-style: none;
  text-align: center;
}
.about-us-item {
}

.about-us-text-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 50px;
}

.about-us-btn {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #6cb981;
  display: block;
  border-radius: 35px;
  width: 180px;
  height: 70px;
  box-shadow: 0 16px 30px 0 rgba(50, 175, 100, 0.15);
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 50px;
  border: #fff;
}

/* ---------------TESTIMONIALS--------------------- */

.testimonials-card-wrapper {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}

.testimonials-card {
  display: flex;
  gap: 14px;
  border: 1px solid #6cb981;
  border-radius: 40px;
  padding: 30px;
  width: 577px;
}

.card-content-wrapper h2 {
  font-size: 18px;
  font-weight: 700;
  color: #6cb981;
}

.card-content-wrapper p {
  margin-top: 13px;
  font-size: 14px;
  font-weight: 400;
  color: #0d4c14;
}

.card-content-wrapper img {
  margin-top: 10px;
}

.testimonials {
}
.testimonials-title {
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  color: #828282;
}
.testimonials-list {
  column-gap: 45px;
  row-gap: 45px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.henry-one {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-bottom: 45px;
}
.henry-two {
  display: flex;
  justify-content: center;
  gap: 45px;
}

.testimonials-item {
  border: 1px solid #6cb981;
  border-radius: 40px;
  width: 577px;
  height: 233px;
}

.testimonials-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22222;
  color: #6cb981;
  padding-left: 124px;
  padding-bottom: ;
}
.tesimonials-portret {
  border-radius: 100%;
  padding-left: 30px;
}
.testimonial-text-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57143;
  color: #0d4c14;
  align-items: center;
  padding-left: 124px;
}
.tesimonials-image {
  padding-left: 124px;
  padding-bottom: 30px;
}

/* --------------Contact-us--------------- */

.contact-us {
}
.contact-us-title {
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  color: #828282;
}
.container-finish {
  padding-top: 70px;
  padding-bottom: 100px;
  display: block;
  justify-content: center;
  margin-left: 558px;
  margin-right: 100px;
  flex-wrap: wrap;
  width: 788px;
  height: 266px;
}

.green-card {
  display: flex;
  position: relative;
  border-radius: 61px;
  width: 374px;
  height: 56px;
}

.green-card-two {
  padding-top: 14px;
}

.green-card-three {
  padding-top: 14px;
}

.green {
  background: #9fdea9;
}
.contact-us-address {
  display: flex;
  flex-wrap: wrap;
  width: 314px;
  height: 132px;
}
.container-address-finish {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-address-list {
  display: block;
  align-items: center;
  justify-content: center;
  margin-right: 557px;
  margin-left: 100px;
}
.contact-address-item {
  font-family: "Poppins", sans-serif;
}

/* ------------FOOTER----------------- */

.footer {
  background: #324b29;
  height: 145px;
  width: 100%;
}
